In [1]:
import pandas as pd
import numpy as np

In [2]:
A = pd.Series([50, 60, 80, 100, 20, 200, 25, 120])
B = pd.Series(['soap', 'battery', 'food', 'maggy', 'cream', 'oil', 'medicine', 'chips'])
C = pd.Series([5, 10, 2, 6, 8, 12, 15, 20])
D = pd.Series(['store1', 'store2', 'store3', 'store1', 'store3', 'store2', 'store1', 'store2'])

data = pd.DataFrame({'price': A, 'items': B, 'customers': C, 'store': D})

In [3]:
data

   price     items  customers   store
0     50      soap          5  store1
1     60   battery         10  store2
2     80      food          2  store3
3    100     maggy          6  store1
4     20     cream          8  store3
5    200       oil         12  store2
6     25  medicine         15  store1
7    120     chips         20  store2

In [4]:
data1 = data['customers'] > 10
print(data1)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
Name: customers, dtype: bool

In [5]:
x = data[data1].index.values
x

array([5, 6, 7], dtype=int64)

In [6]:
items = data['items'][x]
items

5         oil
6    medicine
7       chips
Name: items, dtype: object

In [7]:
x = data['store'].unique()
x

array(['store1', 'store2', 'store3'], dtype=object)

In [8]:
value = data.loc[5,'price']
value

200

In [9]:
value = data.iloc[5,1]
value

'oil'

In [ ]:
##################Q1

In [24]:
data = pd.read_csv('iris.data')

In [25]:
data

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [32]:
data.iloc[100,4], data.iloc[101,4]

('Iris-virginica', 'Iris-virginica')

In [ ]:
################Q2

In [34]:
data = {
    'item': ['gas', 'ricebag', 'milletbag', 'wheatbag'],
    'price': [900, 1200, 600, 1500],
    'transcost': [150, 200, 50, 250]
}

df = pd.DataFrame(data)
print(df)

        item  price  transcost
0        gas    900        150
1    ricebag   1200        200
2  milletbag    600         50
3   wheatbag   1500        250

In [44]:
inp = input("Please name the product whose total cost you desire: ")
index = data['item'].index(inp)
print(f"The total cost of {inp} is {data['price'][index] + data['transcost'][index]}")

Please name the product whose total cost you desire:  gas

The total cost of gas is 1050

In [ ]:
############Q3

In [45]:
import numpy as np
K = np.array([
    [4, 5, 6, 0.1, 2],
    [10, 0.5, 2, 3, 2],
    [8, 12, 9, 15, 5],
    [16, 5, 8, 9, 6],
    [15, 13, 11, 10, 15]
])

F = np.array([3, 2, 5, 6, 4])

K_inv = np.linalg.inv(K)

X = np.dot(K_inv, F)

print("Deflections at each node (X):\n", X)

Deflections at each node (X):
 [ 0.02115738 -0.42337938  0.88901555  0.18065887 -0.1599459 ]